<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title>404</title>
</head>
<body>
    <div class="text-center">
        <img class="img-fluid" width="400" height="400" src="/public/404.png" />
        <h3>Ooops! 404 File not found.</h3>
        <p>Please try again.</p>
        <p><a href="/">back to home</a></p>
    </div>
</body>
</html>